#headerContent{
    border:  1px solid green;
    border-radius: 5px;
    color: #f9f2f4;
    background-color: #3c763d;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 2%;
}

#noteHead{
    width: 70%;
}

#header{
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}

#addButton{
    margin-left: 70%;
    margin-top: -4.5%;
    padding-bottom: 2%;
}

.well{
    color: black;
}

#comment{
    width: 70%;
}